<section id="front-page-block">
    <div class="front-page-background">
        <img src="{{ url('banners/image1.PNG') }}" class="img-responsive img-center" alt=""/> <br/>

    </div>
</section>

<section id="feature">
    <div class="container">

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				Make a selection from the menu
			</div>
		</div>



		<div class="row">
			<div class="col-sm-12 clearfix">
				<img src="{{ url('Critisizedlogofinal.png') }}" class="img-responsive pull-left" style="max-width: 100px;" alt=""/>
				<img src="{{ url('logo.png') }}" class="img-responsive pull-right" style="max-width: 100px; padding-top:30px" alt=""/>
			</div>

		</div>
		<!--/.row-->
	</div>
	<!--/.container-->
</section><!--/#feature-->