.clear {
    clear:both;
}

#front-page-block {
    /*height: 314px;*/
    /*background: url(../../banners/image1.PNG) black no-repeat center center;*/
    background:black;

}

.img-center {
    margin: 0 auto;
}

#front-page-background {
    width: 100%;
}

.green-link {
    color: green;
    font-weight: bold;
}

.gender-lock {
    font-size: 20px;
}

.gender-lock span {
    color: red;
    font-weight: bold;
}

.asterisks {
    color: red;
}

#feature {

    background: -webkit-linear-gradient(black, #404040); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #404040); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #404040); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #404040); /* Standard syntax */
    /**/
    /*background: #1b1b1b;*/
    color: white;
}

#feature h2 {
    color: white;
}

table a {
    color: white;
    font-weight: bold;
}